/* ----------Global Styles---------- */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
}

.coloured-text-blue {
    color: #0A0664;
}

.coloured-text-pink {
    color: #FF52B4;
}

.add-shadows {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.485);
}

/* Buttons */
.button-filled {
    color: #0A0664;
    background-color: #d2691e;
}
.button-filled:hover {
    color: #0A0664;
    background-color: rgba(210, 105, 30, 0.574);
    border-color: #0A0664;
} 


.button-empty {
    color: #0A0664;
    border-color: #d2691e;
}
.button-empty:hover {
    
    color: #d2691e;
    border: 5px solid;
}

.button-empty-alt {
    color: #ffffff;
    border-color: #FF52B4;
}
.button-empty-alt:hover {
    
    color: #FF52B4;
    border: 5px solid;
}

a {
    text-decoration: none;
}

a:hover {
    color:#d2691e;
    text-decoration: underline;
}


/* Secondary Section */
.bg-second-zone {
    background-color: #096597eb;
}

/* ----------Header Section---------- */
header {
    background-color: #0A0664;
    color: #a8a9b3;
    padding: 10px 0;
}

/* Navigation Styles */
/* Colors for Navbar */
.navbar-brand:hover,
.nav-item > .button-filled:hover,
.nav-link:hover,
li .bi:hover,
#branding {
    color: #FF52B4;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon,
.navbar-toggler,
li .bi {
    color: #4CEDDD;
}

.nav-link:focus {
    text-decoration: underline;
}

/* Active Link Styles */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FF52B4;
}

/* Navbar Logo */
.nav-logo-img {
    content: url('../img/logo/logo-main-sm.png');
}

/* Navbar Specifications */
.navbar-brand {
    padding: 0;
    height: 120px;
    align-items: center;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand ul {
    text-align: right;
    
}
.nav-item > .button-filled {
    color: #0A0664;
}

.navbar-toggler-icon {
    color: #FF52B4;
}


/* Featurette Section */
.featurette img {
    width: 100%;
    height: auto;
    display: block;
}

/* ----------Footer Section---------- */
footer {
    background-color: #0A0664;
    padding: 10px 0;
}

li .bi:hover {
    transform: scale(2);
    size: 20px;
}

/* ---x---x---x---Resolution adjustments---x---x---x--- */
@media (max-width: 767px) {
    .nav-logo-img {
        content: url('../img/logo/logo-banner-right.png');
        width: auto;
        max-height: 80px;
        display: inline-block;
    }

    .nav-item {
        padding-left: 7%;
    }
}

@media (max-width: 333px) {
    .nav-logo-img {
        max-height: 60px;
    }
}

