/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f0eb;
}

/* Header Section */
header {
    background-color: #0A0664;
    color: #a8a9b3;
    padding: 10px 0;
}

/* Navigation Styles */
/* Colors for Navbar */
.navbar-brand:hover,
.nav-link:hover,
li .bi:hover,
#branding {
    color: #FF52B4;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon,
.navbar-toggler,
li .bi {
    color: #4CEDDD;
}

.nav-link:focus {
    /* color: #FF52B4; */
    text-decoration: underline;
}

/* Active Link Styles */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FF52B4;
}

/* Navbar Logo */
.nav-logo-img {
    content: url('../img/logo/logo-main-sm.png');
}

/* Navbar Specifications */
.navbar-brand {
    padding: 0;
    height: 120px;
    align-items: center;
}

.navbar-brand {
    /* font-size: 200%; */
    padding: 0;
}

.navbar-brand ul {
    text-align: right;
}

.navbar-toggler-icon {
    color: #FF52B4;
}

/* Featurette Section */
.featurette img {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer Section */
footer {
    background-color: #0A0664;
    padding: 10px 0;
}

li .bi:hover {
    transform: scale(2);
    resize: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 767px) {
    .nav-logo-img {
        content: url('../img/logo/logo-banner-right.png');
        width: auto;
        max-height: 80px;
        display: inline-block;
    }

    .nav-item {
        padding-left: 7%;
    }
}

@media (max-width: 333px) {
    .nav-logo-img {
        max-height: 60px;
    }
}

/* Index Page */
/* Carousel Section */
.carousel-item img {
    width: 100%;
}

/* Marketing Section */
.coulored-div-1 {
    background-color: white;
    border: 1px solid #0b066495;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.coulored-div-1 h2 {
    background-color: #0b0664d7;
    border: 1px solid #FF52B4;
    border-radius: 15px;
    color: #FF52B4;
    margin: 5px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.marketing {
    background-color: #4ceddd36;
}

.featurette div img {
    height: auto;
    vertical-align: middle;
    border: 1px solid #FF52B4;
    border-radius: 15px;
    margin-top: 5px;
}
